.poetsen-one-regular {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container{
    text-align: center;
}

.parrafos{
    padding-left: 100px;
    padding-right: 100px;
  }
#Nexus-Stream_img{
    width: 80px;
    height: 100px;
}