* {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100%;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Cubre contenedor c/sus proporciones */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    /* Inicia transp*/
    transition: opacity 15s ease;
    /* T. suave opacidad */
}

.animated-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    /* Centra y escala a 0 */
    opacity: 0;
    transition: opacity 10s ease, transform 10s ease;
    /* Trans suaves */

}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    /*Evita el desplaz. horiz.*/
    background-color: #191414;

}

nav ul {
    margin: 30px;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 15px;
    background-color: #191414;

}

nav ul li a:hover {
    background-color: #555;
    color: #ffffff;
}

#video-container {
    width: 100%;
    position: relative;
    padding-top: 56.25%;
    /* Rel aspecto 16:9 */
}

#video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 600px) {
    .animated-image {
        max-width: 80%;
        /* D móviles */
        max-height: 80%;
    }
}