*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;/*Evita el desplaz. horiz.*/
    /*background-color: #191414;*/

}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 15px;
    background-color: #191414;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #555;
    color: #ffffff;
}

#search-box {
    position: relative;
    width: 300px;
    margin: 20px;
}
#search-input {
    width: 100%;
    padding: 10px;
    padding-right: 40px;
    font-size: 16px;
}

#search-input {
    background-color: #191414;  /* Establece el color de fondo a negro */
    color: #ffffff;  /* Cambia el color del texto a blanco para que se pueda leer */
}
#search-box {
    background-color: #191414;
    color: #ffffff;
    display: flex; /*flexbox alinea elem internos */
    align-items: center; /*Centra elem verticalmente */
    padding: 10px;
}

#search-input {
    flex-grow: 1; /* el input tome la mayoría del espacio */
    margin-right: 5px; /* Espacio entre input y botón */
    padding: 5px 10px;
    color: #ffffff;
    background-color: #333;
    border: none;
}

#search-button {
    background-color: #555;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    display: flex; /*Alinea ícono y texto dentro del botón */
    align-items: center;
}

.fa-magnifying-glass {
    margin-right: 10px; /* Espacio entre el ícono y el texto */
}


#video-container {
    width: 100%;
    position: relative;
    padding-top: 56.25%; /* Rel aspecto 16:9 */
}

#video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}